.info-restaurante[_ngcontent-kns-c63] {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  left: 16px;
  min-height: 100px;
  position: relative;
  width: calc(100% - 200px);
  padding: 15px;
  margin-top: -20px;
}

.main {
  height: 100%;
  width: 100%;
}

.margin {
  margin-right: 5px;
}

.text-horario {
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.barra-pesquisa {
  height: 20px;
  margin-top: 200px;
}


.container-img {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 70px;
  /* background-image: url("../../assets/home-layout.png"); */
  background-size: cover;
  font-size: 17px;
  background-position: center;
}

.form-check-input:checked {
  background-color: rgb(15, 125, 210);
  border-color: rgb(15, 125, 210);
}

.margin-right {
  margin-left: -35px;
}


.border-bottom-2 {
  padding: 3px 10px 3px 15px; 
  border-bottom: 2px solid rgba(255, 255, 255, 0) !important;
  /* background: #ffffff06; */
    /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.466);
    backdrop-filter: blur( 2.0px );
    -webkit-backdrop-filter: blur( 2.0px );
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0); */
  border-top: 2px solid rgba(252, 4, 4, 0) !important;
}

.espaço {
  --bs-gutter-x: 0 rem;
  --bs-gutter-y: 0;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.fa-wallet:before {
  content: "\f555";
  color: #427c3c;
}

.color-orange {
  background-color: #e31837;
  color: white;
}

.quantity {
  color: rgb(0, 0, 0);
  height: 30px;
  border-radius: 0;
  background-color: whitesmoke;
}

.local {
  color: rgb(15, 125, 210);
}

.float-right {
  float: right;
}

.container-teste {
  width: 94%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-left: 20px;
  padding: 20px;
}


.avaliacao {
  float: right;
  font-size: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #e31837 !important;
  border-color: #e31837 !important;
}

.fa-star:before {
  content: "\f005";
  color: #ffffff;
}

.image-teste {
  background-size: 30% 50%;
  background-repeat: no-repeat;
}

.content-body {
  min-height: 10px;
    max-height: 700px;
    overflow: auto;
    padding: 15px;
    overflow-x: hidden;
    /* scrollbar-width: thin; */
    /* border-radius: 15px; */
}


.tipografia {
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.tipografia-endereco {
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 17px;
}

.tipografia-icon {
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.space {
  margin-left: 10px;
}

.text-hover {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #e31837 !important;
  padding: 0 .64rem;
  margin: 0 -.50rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.text-hover:hover {
  color: #e31837 !important;
  box-shadow: inset 500px 0 0 0 #ffffff;
  ;
}

.btn-outline-warning {
  color: #e31837 !important;
  border-color: #e31837 !important;

}

.button {
  transition-duration: 0.6s;
}

.button-menu:hover {

  background-color: white;
  /* Green */
  color: white !important;
}

.fa-list:before {
  content: "\f03a";
  color: #e31837 !important;
}

.btn-danger {
  color: #fff;
  background-color: red;
  border-color: red;
}

.btn-danger-filter {
  color: #fff;
  background-color: #e31837 !important;
  border-color: #e31837 !important;
}

.border-top {
  border-top: 5px solid !important;
  border-color: #006491 !important;
}

.fa-shopping-cart-car:before {
  content: "\f07a";
  color: #e31837 !important;
}


/* Presentational styles */
.text-hover {
  color: #000000;
  font-family: One Dot Condensed Bold, Arial Narrow, Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}


.float-button {
  float: right;
}

.color {
  color: #4f6fd8;
  cursor: pointer;
}

.fa-edit:before {
  content: "\f044";
  color: #237e1f;
  font-size: 15px;
}

.pointer {
  cursor: pointer;
}

.fa-box-open:before {
  content: "\f49e";
  color: #e31837 !important;
}

.fa-shopping-bag:before {
  content: "\f290";
  color: #e31837 !important;
}

.fa-money-bill:before {
  content: "\f0d6";
  color:#e31837 !important;
}

.fa-motorcycle:before {
  content: "\f21c";
  color: #e31837 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #e31837 !important;
}

.espaço-cart {
  margin-right: 5px;
}

.content-body::-webkit-scrollbar {
  width: 20px;
}

.check-margin {
  margin-left: 10px;
}

.fa-plus-add:before {
  content: "\f067";
  color: rgb(15, 125, 210)
}

.form-check {
  display: block !important;
  min-height: 1.5rem !important;
  padding-left: 0.1em;
  margin-bottom: 0.125rem !important;
}

.fa-plus:before {
  content: "\f067";
  font-size: 15px;
}


.content-body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: #777676;
}


table {
  border-collapse: separate;
  border-spacing: 0px;
}


.btn:focus {
  outline: none;
  box-shadow: none;
}

.fa-times-circle:before {
  content: "\f057";
  color: red;
}


.fundo {
  background-color: white;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e31837 !important;;
  opacity: 0.85;
  border: 1px solid #dad1ce;
  height: 38px;
  border-radius: 0.25rem;
}

.fa-search:before {
  content: "\f002";
  color: #ffffff;
}

.heigth {
  width: 50px;
}

.padding-star {
  padding: 4px 5px 0px 2px;
}

.nav {
  height: 56px;
  display: flex;
  align-items: center;
}

.nav-pills .nav-link {
  background: none;
  color: whitesmoke;
  border: 0;
  border-radius: 0.25rem;
}

.background-color {
  background-color: whitesmoke;
  border-color: red;
}

.btn-color {
  color: white;
  background-color: #e31837 !important;
}

.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}


.right {
  text-align: right;
}

.form-control-produto {
  display: block;
  width: 60%;
  height: 10%;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.additem {
  display: block;
  width: 60%;
  height: 10%;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fa-hamburger:before {
  content: "\f805";
  font-size: 25px;
}

.fa-info-circle:before {
  content: "\f05a";
  font-size: 25px;
}

.fa-money-bill:before {
  content: "\f0d6";
  font-size: 22px;
}

.fa-tags:before {
  content: "\f02c";
  font-size: 22px;
}

.fa-store:before {
  content: "\f54e";
  font-size: 20px;
}

.fa-trash-alt:before {
  content: "\f2ed";
  font-size: 15px;
  color: red;
}

.fa-trash-alt-cart:before {
  content: "\f2ed";
  font-size: 15px;
}

.item-price:before {
  content: "\ea68";
  left: 0;
  top: -1px;
}

.text-area {
  background-color: #fff;
  border: 1px solid #ced4da;
  width: 70%;
  height: 150px;
}

.modal-obs {
  min-width: 800px !important;
}

.video-background-container {
  position: relative;
  width: 100%;
  height: 94vh; /* Ajuste conforme necessário */
  overflow: hidden;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content-overlay {
  position: relative;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  color: white; /* Para garantir que o texto apareça sobre o vídeo */
}

.carousel-container {
  position: relative;
  width: 50%;
  margin-left: -9px;
  margin-top: 20px;
  height: 300px; /* Altura do carrossel */
  overflow: hidden;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Espaço entre o carrossel e o menu */
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Garante que a imagem se ajuste sem distorcer */
   /* Borda arredondada */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para destacar */
}

/* Botões de navegação */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  z-index: 10;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}